name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.txt
    - name: Lint
      run: |
        pip install flake8 black isort
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --exit-zero --max-complexity=10 -show-source --statistics 
        black --check --diff .
        isort -rc -cs -l 119 --check-only --diff .
    - name: Test with pytest
      run: |
        pytest
